@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.h1 {
  position: absolute;
  width: auto;
  height: auto;
  top: 10px;
  left: 5%;
  transform: translateX(-50%);
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 21.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.5;
  white-space: nowrap;
}

.background {
  position: relative;
  width: 100%;
  height: 3em;
  background-color: #2d2d2d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #1a1a1a;
}

.main-text {
  position: absolute;
  width: 50%;
  height: auto;
  top: 40px;
  left: 38%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 38.9px;
  letter-spacing: 0;
  line-height: normal;
}
.text-wrapper {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
}

.span {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 38.9px;
  letter-spacing: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 25em;
  background-color: #525252;
}

.p {
  position: relative;
  width: 50%;
  height: auto;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #cccccc;
  font-size: 23.4px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: normal;
}

.link-3 {
  position: absolute;
  width: 10%;
  height: 12%;
  top: 60%;
  left:38%;
  background-color: #00b600;
  border-radius: 2px;
}
.link-3:hover{
  box-shadow: 15px 10px 10px rgb(63, 63, 63);
}
.text-wrapper-5 {
  position: absolute;
  width: 90%;
  height: 25%;
  top: 11px;
  left: 10px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 21.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.overlap {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 445px;
  left: ;
  background-color: #1f1f1f;
}

.container-4 {
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

.container-5 {
  position: relative;
  width: auto;
  height: auto;
  top: 30px;
  left: 0%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.feature-live-preview {
  position: relative;
  width: 106px;
  height: 106px;
  top: 10px;
  left: 25em;
  border-radius: 2px;
  border: 3px solid;
  border-color: #ffffff;
  background-image: url(https://pixeljoint.com/files/icons/full/eauaesthetics.gif);
  background-size: cover;
  background-position: 50% 50%;
}

.paragraph {
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

.heading-live {
  position: absolute;
  width: auto;
  height: auto;
  top: -240%;
  left: 24%;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.check-a-preview-of {
  position: absolute;
  width: 50%;
  height: 60%;
  top: -150%;
  left: -3%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #cccccc;
  font-size: 13.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.container-6 {
  position: relative;
  width: auto;
  height: auto;
  top: 30px;
  left: 0%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.feature-export-gold {
  box-sizing: border-box;
  margin: 10px 0;
  background: url(https://i.imgur.com/etd3NxJ.png), #333333;
  background-repeat: no-repeat;
  background-position: 0px;
  border: 3px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
  width: 106px;
  height: 106px;
  top: -9em;
  left: 35em;
  border-color: #ffffff;
}

.paragraph-2 {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding-left: 120px;
  box-sizing: border-box;
}

.heading-export-to {
    position: absolute;
    width: auto;
    height: auto;
    top: -12.2em;
    left: 63%;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 22.3px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.several-export-modes {
    position: absolute;
    width:auto;
    height: auto;
    top: -18em;
    left:63%;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #cccccc;
    font-size: 13.2px;
    letter-spacing: 0;
    line-height: normal;
}

.container-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top:17em;
  left: 0;
  background-color: #111111;
}

 .container-7 {
  position:absolute;
  width: 10%;
  height: 100%;
  top: 12px;
  left: 842px;
}

 .footer-item-support {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 35px;
  left: 0;
  border-radius: 5px;
  background-image: url(https://www.piskelapp.com/assets/support-icon.png);
  background-size: cover;
  background-position: 50% 50%;
}

 .link-4 {
  position: absolute;
  width: auto;
  height: auto;
  top: 42px;
  left: 40px;
}

 .text-wrapper-6 {
  position: absolute;
  width:auto;
  height: auto;
  top: -1px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12.3px;
  letter-spacing: 0;
  line-height: normal;
}

 .overlap-2 {
  position: absolute;
  width:auto;
  height: auto;
  top: 42px;
  left: 104px;
}

 .text-wrapper-7 {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #aaaaaa;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

 .link-5 {
  position: absolute;
  width: 26px;
  height: 15px;
  top: 1px;
  left: 56px;
}

 .text-wrapper-8 {
  position: absolute;
  width:auto;
  height: auto;
  top: -1px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

 .overlap-group-2 {
  position: absolute;
  width: 139px;
  height: 16px;
  top: 42px;
  left: 185px;
}

 .text-wrapper-9 {
  position: absolute;
  width: 28px;
  height: 15px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #aaaaaa;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

 .terms-conditions-wrapper {
  position: absolute;
  width: 111px;
  height: 15px;
  top: 1px;
  left: 28px;
}

 .terms-conditions {
  position: absolute;
  width: 111px;
  height: 15px;
  top: -1px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12.1px;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-3 {
  position: absolute;
  width: 129px;
  height: 16px;
  top: 42px;
  left: 324px;
}

.and-the {
  position: absolute;
  width: 50px;
  height: 15px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #aaaaaa;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.link-6 {
  position: absolute;
  width: 79px;
  height: 15px;
  top: 1px;
  left: 50px;
}

.text-wrapper-10 {
  position: absolute;
  width:auto;
  height: auto;
  top: -1px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-11 {
  position: absolute;
  width:auto;
  height: auto;
  top: 42px;
  left: 452px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #aaaaaa;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
